@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    /* variables */
    /* --- colors */
    --dark-blue: #18273A;
    --blue: #247BA0;
    --parchment: #DDD4D0;
    --off-parchment: #d0bfb7;
    --sorbet: #F46036;
    --dusty-green: #44503F;
    /* --- numbers */
    --border-weight: 1px;
    /* fonts */
    --sans-serif: Barlow, Helvetica, sans-serif;
    --serif: Rasa, Georgia, serif;

    /* global styles */
    background-color: var(--parchment);
    color: var(--dark-blue);
    font-family: var(--sans-serif);
    font-weight: 500;
    font-size: 1.1rem;
}

header {
    padding: 0.8em 2em;
    border-bottom: var(--border-weight) var(--dark-blue) solid;
    display: flex;
    justify-content: center;
}

header p {
    font-size: 1.4em;
    font-weight: 600;
}

.bible-tab {
    min-width: 400px;
    font-size: 0.9em;
    padding: 0.1em 1em;
    border: var(--border-weight) var(--dark-blue) solid;
    border-radius: 16px;
    background-color: var(--off-parchment);
}

.bible-tab::placeholder {
    color: var(--dark-blue);
    opacity: 0.8;
}

.window {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 24px;
}

.bible {
    font-family: var(--serif);
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0 24px 24px 24px;
    margin: 24px;
}

.bible h1 {
    font-weight: 500;
    margin-top: 24px;
}

.bible h2 {
    font-family: var(--sans-serif);
    font-size: 1.1rem;
    margin: 14px 0;
}

.bible p {
    margin-bottom: 12px;
}