@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    /* variables */
    /* --- brand colors */
    --dark-blue: #18273A;
    --blue: #247BA0;
    --parchment: #DDD4D0;
    --off-parchment: #d0bfb7;
    --sorbet: #F46036;
    --dusty-green: #44503F;
    /* --- ui colors */
    --background-color: var(--parchment);
    --border-color: var(--dark-blue);
    --font-color: var(--dark-blue);
    /* --- numbers */
    --border-weight: 1px;
    /* fonts */
    --sans-serif: Barlow, Helvetica, sans-serif;
    --serif: Rasa, Georgia, serif;

    /* global styles */
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--sans-serif);
    font-weight: 500;
    font-size: 1.1rem;
}

#root {
    height: 100%;
    padding: 10px;
}

main.bible {
    /* typography */
    font-family: var(--serif);
    font-weight: 400;
    font-size: 1.2rem;

    /* container layout */
    height: 100%;
    border-radius: 8px;
    border: solid 1px var(--border-color);

    /* grid settings */
    display: grid;
    grid-template-columns: 5fr 4fr;

    /* section container layouts */
    section {
        height: 100%;
        padding: 16px;
        overflow: scroll;
    }
}

main.bible section:first-of-type {
    border-right: dashed 1px var(--border-color);
}

section.bible {
    h1 {
        font-family: var(--sans-serif);
        font-size: 1em;
    }
    h2 {
        font-size: 1em;
        font-weight: 600;
        font-style: italic;
        padding: 10px 0 6px;
    }
}

section.notes {
    display: flex;
    align-items: start;

    h1 {
        font-family: var(--sans-serif);
        font-size:0.8em;
        flex: 1;
        border-bottom: solid 1px var(--border-color);
    }
}