@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    /* variables */
    /* --- colors */
    --dark-blue: #18273A;
    --blue: #247BA0;
    --parchment: #DDD4D0;
    --off-parchment: #d0bfb7;
    --sorbet: #F46036;
    --dusty-green: #44503F;
    /* --- numbers */
    --border-weight: 1px;
    /* fonts */
    --sans-serif: Barlow, Helvetica, sans-serif;
    --serif: Rasa, Georgia, serif;

    /* global styles */
    background-color: var(--parchment);
    color: var(--dark-blue);
    font-family: var(--sans-serif);
    font-weight: 500;
    font-size: 1.1rem;
}

#root {
    height: 100%;
    padding: 10px;
}

.bible {
    /* typography */
    font-family: var(--serif);
    font-weight: 400;
    font-size: 1.2rem;

    /* container layout */
    height: 100%;
    border-radius: 8px;
    border: solid 1px var(--dark-blue);

    /* grid settings */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bible section {
    height: 100%;
    padding: 16px;
    overflow: scroll;
}

.bible section:first-of-type {
    border-right: dashed 1px var(--dark-blue);
}